.page-main-navbar{
    
    &.page-navbar-top {
         width: 250px;
         height: 100%;
    }

    &.page-navbar-side {
        width: 250px;
        height: 100%;
        background-color: orange;
    }
}